.main-information > .applicationStatus-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.applicationStatus-container > .applicationStatus-card {
    height: 100%;
}

.applicationStatus-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
}

.applicationStatus-card > .ant-card-body {
    min-height: 260px;
    height: calc(100% - 48px);
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.applicationStatus-card .applicationStatus-relations-container,
.applicationStatus-card .applicationStatus-showRelationsNull {
    position: relative;
    z-index: 2000;
}

.applicationStatus-card .applicationStatus-relations-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 1000;
    background: url(/images/applicationStatus_bg.png) no-repeat center center / 100% border-box content-box;
}

.applicationStatus-card > .ant-card-body .applicationStatus-showRelations,
.applicationStatus-card > .ant-card-body .applicationStatus-showRelationsNull,
.applicationStatus-showRelations > .iconfontSaaS,
.applicationStatus-showRelationsNull > .saas-apply {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #529ECC;
    text-transform: uppercase;
    font-family: Consolas, Menlo, Courier, monospace;
}

.applicationStatus-showRelations > .iconfontSaaS,
.applicationStatus-showRelationsNull > .saas-apply {
    font-size: 100px;
    font-weight: lighter;
}

.applicationStatus-showRelations > .applicationStatus-email-button,
.applicationStatus-showRelationsNull > .applicationStatus-apply-button {
    width: 220px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #529ECC;
    border-color: #529ECC;
}

.applicationStatus-modal-wrapper {
    overflow: hidden;
}

.applicationStatus-modal .applicationStatus-alert {
    position: fixed;
    width: 240px;
    top: 30px;
    left: 50%;
    margin-left: -120px;
}


