.main-information > .application-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.application-container > .application-card {
    height: 100%;
}

.application-container > .application-spin-container,
.application-spin-container > .ant-spin,
.application-spin-container > .application-spin-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.application-spin-container > .application-spin-filter {
    opacity: .7;
    filter: blur(2px);
    width: calc(100% - 44px);
    height: calc(100% - 40px);
    top: 22px;
    left: 20px;
    background-color: #fff;
    z-index: 1500;
}

.application-spin-container > .ant-spin {
    z-index: 2000;
}

.application-spin-container > .ant-spin > .ant-spin-dot,
.application-spin-container > .ant-spin > .ant-spin-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    margin-top: -26px;
    margin-left: -20px;
}

.application-spin-container > .ant-spin > .ant-spin-text {
    width: 100%;
    top: 50%;
    left: 0;
    padding-top: 12px;
    font-size: 16px;
    margin: 0;
}

.application-spin-enterOrLeave {
    opacity: 0.01;
    transition: all .6s ease-in-out 0s;
}

.application-spin-enterOrLeave.application-spin-enterOrLeave-active {
    opacity: 1;
    transition: all .6s ease-in-out 0s;
}

.application-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
}

.application-card .ant-card-extra {
    top: 7px;
}

.ant-card-extra > .application-add {
    background-color: #529ECC;
    border-color: #529ECC;
    color: #fff;
}

.application-card > .ant-card-body {
    height: calc(100% - 48px);
}

.ant-card-body > .application-pagination {
    text-align: right;
    margin-top: 8px;
}

.application-pagination .ant-pagination-item-active {
    background-color: #529ECC;
    border-color: #529ECC;
}

.application-modal-wrapper {
    overflow: hidden;
}

.application-modal .ant-modal-title {
    height: 32px;
    line-height: 32px;
}

.application-modal .application-row {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    margin-top: 10px;
}

.application-modal .ant-modal-body {
    position: relative;
    max-height: 460px;
    overflow: auto;
}

.application-modal .application-alert {
    position: fixed;
    width: 240px;
    top: 30px;
    left: 50%;
    margin-left: -120px;
}

.application-modal .ant-modal-footer .ant-btn-primary {
    background-color: #529ECC;
    border-color: #529ECC;
}

.application-modal .ant-modal-close {
    top: 4px;
}

.application-modal .application-section {
    width: 100%;
    height: 190px;
    background: url(/images/application_placeholder.png) no-repeat center center / cover border-box content-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.application-modal .rc-upload {
    outline: none;
}

.application-modal .application-avatar-upload,
.application-modal .application-avatar-image {
    position: relative;
    margin: 15px auto 0 auto;
    width: 80px;
    height: 80px;
    border: 1px dashed #d9d9d9;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.application-avatar-upload > .saas-add {
    color: #999;
    font-size: 24px;
    height: 25px;
}

.application-avatar-upload > .application-avatar-description {
    font-size: 15px;
    font-family: Consolas, Menlo, Courier, monospace;
}

.application-common-container {
    position: relative;
    color: #fff;
    height: 50px;
    font-family: Consolas, Menlo, Courier, monospace;
    background: url(/images/application_placeholder.png) no-repeat center center / 100% border-box content-box;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
}

.application-common-container > .must-fill-title,
.application-common-container > .chinese-fluency-title,
.application-common-container > .other-information-title {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgb(239, 152, 98);
    opacity: 0.7;
}

.application-common-container > .chinese-fluency-title {
    background-color: #57cecd;
}

.application-common-container > .other-information-title {
    background-color: rgb(192, 165, 246);
}

.application-common-container > .must-fill-title-font,
.application-common-container > .chinese-fluency-title-font,
.application-common-container > .other-information-title-font {
    position: relative;
    z-index: 2000;
}

.application-section > .application-section-img {
    height: 136px;
}

.application-section > .application-section-declaration {
    color: #fff;
    font-family: Consolas, Menlo, Courier, monospace;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}

.application-section-img > img {
    width: auto;
    height: 100%;
}

.application-look-over {
    line-height: 32px;
}

.application-look-over .application-edit-button {
    display: block;
    float: right;
    margin-right: 40px;
    padding: 0 15px;
    font-size: 14px;
    height: 32px;
    cursor: pointer;
    color: #529ECC;
}

.application-edit-button > .saas-edit {
    margin-right: 2px;
}

.application-look-over:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.application-row > .application-col {
    text-align: right;
}

.application-col > .application-header-title {
    margin-right: 8px;
}

.application-col-formName .ant-input {
    margin-left: 8px;
}

.application-row .ant-input,
.application-row .ant-select {
    width: 155px;
    position: relative;
    bottom: 2px;
}

.application-row .ant-input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.application-row .ant-input:focus, .application-row .ant-input:hover {
    border-color: #49a9ee;
    box-shadow: none;
}

.application-row .ant-calendar-picker .ant-input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.application-row .ant-calendar-picker .ant-input:focus, .application-row .ant-calendar-picker .ant-input:hover {
    border-color: #49a9ee;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
}

.application-row .ant-input:disabled,
.application-row .ant-select-disabled {
    color: rgba(0, 0, 0, .6);
}

.application-row .ant-input[disabled] {
    background-color: #fff;
}

.application-row .ant-calendar-picker .ant-input[disabled] {
    background-color: #f7f7f7;
}

.application-row .ant-input[disabled]:hover {
    border-color: #d9d9d9;
    box-shadow: none;
}