.main-information > .application-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.application-container > .application-card {
    height: 100%;
}

.application-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
}

.application-card .ant-card-extra {
    top: 7px;
}

.ant-card-extra > .application-add {
    background-color: #529ECC;
    border-color: #529ECC;
    color: #fff;
}

.application-card > .ant-card-body {
    height: calc(100% - 48px);
}

.ant-card-body > .application-pagination {
    text-align: right;
    margin-top: 8px;
}

.application-pagination .ant-pagination-item-active {
    background-color: #529ECC;
    border-color: #529ECC;
}

.application-modal-wrapper {
    overflow: hidden;
}

.application-modal .ant-modal-title {
    height: 32px;
    line-height: 32px;
}

.application-modal .application-row {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    margin-top: 10px;
}

.application-modal .ant-modal-body {
    position: relative;
    max-height: 460px;
    overflow: auto;
}

.application-modal .application-alert {
    position: fixed;
    width: 240px;
    top: 30px;
    left: 50%;
    margin-left: -120px;
}

.application-modal .ant-modal-footer .ant-btn-primary {
    background-color: #529ECC;
    border-color: #529ECC;
}

.application-modal .ant-modal-close {
    top: 4px;
}

.application-look-over {
    line-height: 32px;
}

.application-look-over .application-edit-button {
    display: block;
    float: right;
    margin-right: 40px;
    padding: 0 15px;
    font-size: 14px;
    height: 32px;
    cursor: pointer;
    color: #529ECC;
}

.application-edit-button > .saas-edit {
    margin-right: 2px;
}

.application-look-over:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.application-row > .application-col {
    text-align: right;
}

.application-row .ant-input,
.application-row .ant-select {
    width: 155px;
    position: relative;
    bottom: 2px;
}

.application-row .ant-input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.application-row .ant-input:focus, .application-row .ant-input:hover {
    border-color: #49a9ee;
    box-shadow: none;
}

.application-row .ant-calendar-picker .ant-input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.application-row .ant-calendar-picker .ant-input:focus, .application-row .ant-calendar-picker .ant-input:hover {
    border-color: #49a9ee;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
}

.application-row .ant-input:disabled,
.application-row .ant-select-disabled {
    color: rgba(0, 0, 0, .6);
}

.application-row .ant-input[disabled]{
    background-color: #fff;
}

.application-row .ant-calendar-picker .ant-input[disabled] {
    background-color: #f7f7f7;
}

.application-row .ant-input[disabled]:hover {
    border-color: #d9d9d9;
    box-shadow: none;
}