.main-information > .application-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.application-container > .application-card {
    height: 100%;
}

.application-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
}

.application-card .ant-card-extra {
    top: 7px;
}

.ant-card-extra > .application-add {
    background-color: #529ECC;
    border-color: #529ECC;
    color: #fff;
}

.application-card > .ant-card-body {
    height: calc(100% - 48px);
}

.ant-card-body > .application-pagination {
    text-align: right;
    margin-top: 8px;
}

.application-pagination .ant-pagination-item-active {
    background-color: #529ECC;
    border-color: #529ECC;
}

.application-modal-wrapper {
    overflow: hidden;
}

.application-modal .application-row {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    margin-top: 10px;
}

.application-modal .ant-modal-body {
    position: relative;
    max-height: 460px;
    overflow: auto;
}

.application-modal .application-alert {
    position: fixed;
    width: 240px;
    top: 30px;
    left: 50%;
    margin-left: -120px;
}

.application-row > .application-col {
    text-align: right;
}

.application-row .ant-input,
.application-row .ant-select {
    width: 155px;
}