html, body, h1, h2, h3, h4, h5, h6, ul, p, section, figure, figcaption {
    margin: 0;
    padding: 0;
}

section, figure, figcaption {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}