.main-information > .messageCenter-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.messageCenter-container > .messageCenter-card {
    height: 100%;
}

.messageCenter-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
    font-family: Consolas, Menlo, Courier, monospace;
}

.messageCenter-card  > .ant-card-body {
    height: calc(100% - 48px);
}

.ant-card-body > .messageStatus-pagination {
    text-align: right;
    margin-top: 8px;
}

.messageStatus-pagination .ant-pagination-item-active {
    background-color: #529ECC;
    border-color: #529ECC;
}