.main_page > .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-container > .main-view {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-view > .main-logo {
    position: relative;
    width: 150px;
    height: 54px;
    z-index: 2000;
    margin-left: 20px;
}

.main-view > .main-sideBar {
    position: absolute;
    width: 220px;
    height: calc(100% - 54px);
    top: 54px;
    left: 0;
    z-index: 2000;
    overflow: hidden;
    /*box-shadow: 2px 1px rgba(52, 73, 94, 0.3);*/
    box-shadow: 3px 0 2px 0 rgba(0, 0, 0, .1), 4px 0 1px -2px rgba(0, 0, 0, .16), 2px 0 5px 0 rgba(0, 0, 0, .08);
    box-sizing: border-box;
    border-top-right-radius: 4px;
}

.main-sideBar > .sideBar-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2500;
    background-color: rgb(52, 73, 94);
}

.sideBar-container .main-link-active {
    background-color: rgb(44, 62, 80);
    color: #fff;
}

.sideBar-container > ul > li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}

.sideBar-container > ul > li > a {
    width: 100%;
    color: #fff;
    padding: 0 10px;
}

.main-view > .main-information {
    position: absolute;
    width: calc(100% - 220px);
    height: 100%;
    top: 0;
    left: 220px;
    z-index: 1500;
    overflow: hidden;
}

.main-information > .login-out {
    position: relative;
    height: 32px;
}

.login-out > .login-out-button {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bolder;
    color: #444;
}

.main-view > .main-information::after {
    display: block;
    clear: both;
    height: 0;
    content: ".";
    visibility: hidden;
}

.main-information > .information-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.information-container > .information-card {
    height: 100%;
}

.information-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
}

.information-card .information-row,
.information-modal .information-row{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 10px;
}

.information-modal .information-row {
    font-size: 14px;
}

.information-modal .information-oldPassword-row {
    margin: 0;
}

.information-row .ant-input,
.information-card .information-select {
    width: 160px;
}

.information-card .information-col,
.information-modal .information-col {
    text-align: right;
}

.information-col > .information-spin {
    color: red;
}

.information-oldPassword-row .ant-input,
.information-newPassword-row .ant-input,
.information-checkedPassword-row .ant-input{
    width: 200px;
}

.information-card .information-save-button,
.information-card .information-change-password {
    text-align: center;
    margin-top: 10px;
}

.information-card .information-button,
.information-card .information-alert {
    width: 260px;
    height: 40px;
    outline: none;
    font: 14px/1.4 Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.information-card .information-alert {
    margin: 10px auto 0 auto;
}

.information-modal .information-alert {
    width: 200px;
    margin: 10px auto 0 auto;
}

.information-save-button .information-button {
    background: #529ECC;
    color: #fff;
}