.main-information > .information-container {
    position: relative;
    padding: 22px 20px;
    box-sizing: border-box;
    height: calc(100% - 30px);
}

.information-container > .information-card {
    height: 100%;
}

.information-card .ant-card-head {
    position: relative;
    z-index: 1500;
}

.information-card .ant-card-head-title {
    font-size: 20px;
    font-weight: normal;
    font-family: Consolas, Menlo, Courier, monospace;
}

.information-card .information-row,
.information-modal .information-row {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 10px;
}

.information-row.information-row-upload {
    height: 96px;
    line-height: 96px;
}

.information-row-upload .rc-upload {
    outline: none;
}

.information-row-upload .information-avatar-upload,
.information-row-upload .information-avatar-image {
    position: relative;
    width: 96px;
    height: 96px;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fbfbfb;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    outline: none;
    z-index: 2500;
}

.information-row-upload .information-avatar-image {
    padding: 8px;
    border: 1px solid #d9d9d9;
}

.information-avatar-image > .information-avatar-show-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 3000;
}

.information-avatar-image .information-avatar-filter {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all .6s ease-in-out 0s;
    color: #fff;
    z-index: 3500;
}

.information-avatar-image .information-avatar-filter:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.information-avatar-filter > .information-avatar-character {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.information-avatar-character > .saas-updateImage {
    font-size: 22px;
}

.information-avatar-upload > .saas-add {
    font-size: 20px;
    color: #999;
}

.information-modal .information-row {
    font-size: 14px;
}

.information-modal .information-oldPassword-row {
    margin: 0;
}

.information-row .ant-input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.information-row .ant-input:focus, .information-row .ant-input:hover {
    border-color: #49a9ee;
    box-shadow: none;
}

.information-row .ant-input,
.information-card .information-select {
    position: relative;
    bottom: 2px;
    width: 160px;
}

.information-row .ant-input {
    background-color: transparent;
}

.information-row .information-verify-button {
    margin-left: 8px;
    background: #529ECC;
    border-color: #529ECC;
    color: #fff;
}

.information-card .information-col,
.information-modal .information-col {
    text-align: right;
}

.information-col > .information-spin {
    color: red;
}

.information-oldPassword-row .ant-input,
.information-newPassword-row .ant-input,
.information-checkedPassword-row .ant-input {
    width: 200px;
}

.information-card .information-save-button,
.information-card .information-change-password {
    text-align: center;
    margin-top: 10px;
}

.information-card .information-save-button {
    margin-top: 15px;
}

.information-card .information-button,
.information-card .information-alert {
    width: 260px;
    height: 40px;
    outline: none;
    font: 14px/1.4 Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.information-card .information-student-container {
    position: relative;
    z-index: 2000;
}

.information-card .information-student-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(0, 0, 0, .05));
    z-index: 1500;
}

.information-card .information-student-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/studentInfo_bg.png) no-repeat center center / 100% border-box content-box;
    z-index: 1000;
}

.information-card .information-alert,
.information-modal .information-alert{
    margin: 10px auto 0 auto;
    height: auto;
}

.information-modal .information-alert {
    width: 200px;
}

.information-save-button .information-button {
    background: #529ECC;
    border-color: #529ECC;
    color: #fff;
}